[Unit]
Description=XMRig miner service

[Service]
Type=forking
User=root
ExecStart=/bin/sh ~/xmrig-ubuntu-service/xmrig/build/start.sh
Restart=always
RestartSec=3

[Install]
WantedBy=default.target
